<!doctype html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://fonts.googleapis.com/css?family=Kreon" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
    <h1>Display your latest Tweets with Node.js</h1>

    <div id="stream">
        <img class="loading" src="/images/loading-spin.svg" alt="Loading">
    </div>
    <script src="/javascripts/app.js"></script>
    <script type="text/javascript">
        (function (window, document, undefined) {
            NodeTwitter.init({
                username: '', // Twitter username here
                container: '#stream', // domNode to attach to
                counter: 12 // Number of tweets to display, default is 10, maximun is 20
            });
        }(window, document));
</script>
</body>
</html>